@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Один Майкрософт Путь<br />
    Красноярск, Красноярский край<br />
    <abbr title="Телефон">P:</abbr>
    8-800-555-35-35
</address>

<address>
    <strong>Поддержка:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Реклама:</strong> <a href="https://vk.com/id278469073">vk.com</a>
</address>